<configuration>
	<connectionStrings>
		<add name = "databaseConnection" connectionString = "Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Windows 10\Desktop\Z\Z\ZDatabase\ZDatabase.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>